body {
  background-color:#c6e2e9;
}

div {
  width: auto;
  text-align: center;
  padding: 15px;
  border: 0px;
  }

.header {
  text-align: center;
}

.topnav-right {
  float:right;
}

h1 {
  color: #56168a;
  text-align: center;
  float: center;
}

#maincontent {
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  color: black;
  padding: 150px;
  position:fixed;
  top: 200px;
  left: 600px;
}

#headerimg {
  max-width: 60%;
  height: auto;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
}

#me {
  max-width: 26%;
  height: auto;
  padding: 5px;
  float:left;
  position:fixed;
  left:90px;
  top:150px;
}


.button {
  background-color: #7979bc; 
  border: 0px;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: crosshair;
  width: 150px;
  height: 135px;
  display:block;
}

.button:hover {
  background-color: #4e79bc;
}

.footer { 
    position:fixed;
    top:800px;
    left:700px;
    text-align:center;
}

